
<div class="container">
	<div style="text-align:center">
		<h1>
			{{ title }}!
		</h1>  
	</div>
	<br/>
	<div class="row">
		<div class="card span4" *ngFor="let item of items | async">
			<div class="card-header h5">
				Strategy Id: {{item.key}}
			</div>
			<div class="card-body">
				<span class="card-text">
					<p *ngFor="let objArrayElement of generateArray(item)">
						<ng-container *ngIf="objArrayElement.key != 'key' && objArrayElement.key != 'timestamp'">
							{{objArrayElement.key}}:  {{objArrayElement.value}}
						</ng-container>
					</p>
				</span>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
